.icon-text-wrapper {
  display: flex;
  align-items: center;
  gap: 6px; /* Ahora sí, aquí funciona el espacio */
}

.center-buttons {
  justify-content: center;
  display: flex;
  width: 100%;
}



.center-title {
  display: flex;
  justify-content: center;
  width: 100%;

}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 60%;
  margin-top: 40px;
}


.fila-contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
  gap: 16px 24px; /* vertical y horizontal */
  padding: 16px; /* espacio hacia los bordes del contenedor */
  width: 100%;
  box-sizing: border-box;
}

ion-icon {
  font-size: 24px;
  color: white; /* o el color que quieras */
}

.icon-text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1); /* temporal para ver la zona */
  padding: 12px;
  border-radius: 12px;
  height: 100%;
  width: 100%;
  transition: background-color 0.2s ease;
}

.icon-text-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-text-wrapper img {
  width: 64px;
  height: 64px;
}
