.icon-text-wrapper {
  display: flex;
  align-items: center;
  gap: 6px; /* Ahora sí, aquí funciona el espacio */
}

.center-buttons {
  justify-content: center;
  display: flex;
  width: 100%;
}



.center-title {
  display: flex;
  justify-content: center;
  width: 100%;

}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}


.fila-contenedor {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px 40px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto; /* <-- ESTO centra el grid */
}

ion-icon {
  font-size: 24px;
  color: white; /* o el color que quieras */
}

.icon-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: rgba(0,0,0,0.1); /* temporal para ver la zona */
  padding: 10px; /* expande la zona clickeable */
  border-radius: 8px;
}




.icon-text-wrapper img {
  width: 64px;
  height: 64px;
  cursor: pointer;
}
