<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Seleccione un Instrumento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab class="contenedor-principal">
  <div class="fila-contenedor">
    <div
      class="icon-text-wrapper"
      *ngFor="let inst of instrumentos"
      (click)="goToAfinacion(inst.key)">
      <img [src]="inst.icon" width="48" height="48">
      <span>{{ inst.label }}</span>
    </div>
  </div>
</ion-fab>

<ng-container *ngIf="sesionActiva; else invitadoFooter">
  <app-footer-user></app-footer-user>
</ng-container>
<ng-template #invitadoFooter>
  <app-footer></app-footer>
</ng-template>
