<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Seleccione un Instrumento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Seleccione un Instrumento</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="center-buttons">
      <ion-button (click)="goToLogin()">
        <div class="icon-text-wrapper">
          <ion-icon name="person-circle"></ion-icon>
          <span>Iniciar Sesión</span>
        </div>
      </ion-button>

      <ion-button (click)="goToInstruments()">
        <div class="icon-text-wrapper">
          <ion-icon name="list"></ion-icon>
          <span>Instrumentos</span>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>






