<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goToInstruments()"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ selectedInstrument | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <app-tuner [selectedInstrument]="selectedInstrument"></app-tuner>
  <app-clavijero [selectedInstrument]="selectedInstrument"></app-clavijero>
  <ng-container *ngIf="sesionActiva; else invitadoFooter">
    <app-footer-user></app-footer-user>
  </ng-container>
  <ng-template #invitadoFooter>
    <app-footer></app-footer>
  </ng-template>
</ion-content>
