<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Seleccione un Instrumento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Seleccione un Instrumento</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="contenedor-principal">
      <div class="fila-contenedor">
        <span class="icon-text-wrapper"><img src="assets/img/guitarra.png" width="24" height="24"> Guitarra</span>
        <span class="icon-text-wrapper"><img src="assets/img/guitarra-electrica.png" width="24" height="24"> Guitarra Eléctrica</span>
        <span class="icon-text-wrapper"><img src="assets/img/bajo.png" width="24" height="24"> Bajo</span>
        <span class="icon-text-wrapper"><img src="assets/img/ukelele.png" width="24" height="24"> Ukelele</span>
        <span class="icon-text-wrapper"><img src="assets/img/violin.png" width="24" height="24"> Violin</span>
        <span class="icon-text-wrapper"><img src="assets/img/piano.png" width="24" height="24"> Piano</span>
      </div>
    </div>
  </ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="login" (click)="goToLogin()">
      <ion-icon name="person-circle"></ion-icon>
      Cerrar Sesión
    </ion-tab-button>
    <ion-tab-button tab="Partituras">
      <ion-icon name="list"></ion-icon>
      Partituras
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
