<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Seleccione un Instrumento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab class="contenedor-principal">
<div class="fila-contenedor">
    <div class="icon-text-wrapper" (click)="goToAfinacion()"><img src="assets/img/guitarra.png" width="24" height="24"><span>Guitarra</span></div>
    <div class="icon-text-wrapper" (click)="goToAfinacion()"><img src="assets/img/guitarra-electrica.png" width="24" height="24"><span>Guitarra Eléctrica</span></div>
    <div class="icon-text-wrapper" (click)="goToAfinacion()"><img src="assets/img/bajo.png" width="64" height="64"><span>Bajo</span></div>
    <div class="icon-text-wrapper" (click)="goToAfinacion()"><img src="assets/img/ukelele.png" width="24" height="24"><span>Ukelele</span></div>
    <div class="icon-text-wrapper" (click)="goToAfinacion()"><img src="assets/img/violin.png" width="24" height="24"><span>Violin</span></div>
    <div class="icon-text-wrapper" (click)="goToAfinacion()"><img src="assets/img/piano.png" width="24" height="24"><span>Piano</span></div>
    </div>
</ion-fab>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="login" (click)="goToLogin()">
      <ion-icon name="person-circle"></ion-icon>
      Cerrar Sesión
    </ion-tab-button>
    <ion-tab-button tab="Partituras">
      <ion-icon name="list"></ion-icon>
      Partituras
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
