  .hz-display {
    font-size: 1.2rem;
    margin-top: 8px;
  }
  
  .note-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .note-label {
    color: black;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .tune-indicator {
    width: 100px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
  }
  
  .tune-indicator.in-tune {
    background-color: green;
  }
  
  .headstock-container {
    margin-top: 20px;
    text-align: center;
  }

  //scss aguja
  ion-content {
    --background: #1a1a1a;
    color: white;
    text-align: center;
  }
  
  .meter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .meter {
    position: relative;
    width: 200px;
    height: 200px;
    background: #333;
    border-radius: 12%; /* cuadrado redondeado */
    margin-bottom: 20px;
  }
  
  .needle {
    position: absolute;
    width: 2px;
    height: 90px;
    background: gray;
    top: 10px;
    left: 49.4%;
    transform-origin: bottom center;
    transform: rotate(0deg);
    transition: transform 0.2s ease-out;
  }
  
  .center-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background: gray;
    border-radius: 50%;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .mark {
    position: absolute;
    top: 0;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  
  .minus {
    left: 10px;
  }
  
  .plus {
    right: 10px;
  }
  
  .hz-display {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .note-display {
    background-color: rgb(231, 233, 235);
    width: 50px;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
  }
  
  .tune-status {
    width: 80px;
    height: 10px;
    border-radius: 10px;
    background: red;
  }
  
  .tune-status.in-tune {
    background: #00ff00;
  }

  .arc-indicator {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    pointer-events: none; // Evita interferencias con clicks
  }
  
  .barra {
    background: linear-gradient(90deg, 
      rgba(219, 22, 22, 0.9) 0%,
      rgba(255, 165, 0, 0.8) 30%,
      rgba(0, 255, 0, 0.7) 50%,
      rgba(255, 165, 0, 0.8) 70%,
      rgba(219, 22, 22, 0.9) 100%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
  }
  
  .vacio {
    background-color: #1a1a1a; // mismo fondo que el medidor para simular hueco
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  