<!-- aguja medidor -->
<div class="tuner-wrapper" color="dark">

  <div class="meter-container">
    <div class="meter">
      <div class="arc-indicator">
        <div class="barra"></div>
        <div class="vacio"></div>
      </div>
      <div class="needle" [style.transform]="'rotate(' + needleAngle + 'deg)'"></div>
      <div class="center-dot"></div>
      <div class="mark minus">-</div>
      <div class="mark plus">+</div>
    </div>

    <div class="hz-display">
      {{ signalLost ? 'Esperando nota' : (frequency.toFixed(1) + ' Hz') }}
    </div>

    <!-- Nota detectada (opcional, puedes ocultarla si quieres) -->
    <div class="note-display">{{ signalLost ? '--' : currentNote }}</div>

    <!-- Barra de afinación -->
    <div class="tune-status" [ngClass]="{ 'in-tune': isInTune(), 'out-of-tune': !isInTune() }"></div>

  </div>

</div>
<!-- <ion-content class="ion-padding">

  <div class="meter-container">

    <div class="needle-panel">


    </div>
    <div class="hz-display">
      {{ frequency.toFixed(1) }} Hz
    </div>
  </div>

  Sección de Nota Actual
  <div class="note-container">
    <div class="note-label">{{ currentNote }}</div>
    <div class="tune-indicator" [ngClass]="{ 'in-tune': isInTune(), 'out-of-tune': !isInTune() }"></div>
  </div>
 Sección de Cabeza de Guitarra
  <div class="headstock-container">
 Aquí pondremos una imagen simple o SVG del clavijero con etiquetas
  </div>

</ion-content> -->


<!-- medidor prototipo 1 -->
<!-- <div class="tuner-container" *ngIf="isMicrophoneActive; else noMic">
  <h1 class="frequency">{{ frequency.toFixed(2) }} Hz</h1>
  <div class="tuning-status" [ngClass]="{ 'in-tune': isInTune(), 'out-of-tune': !isInTune() }">
    <span *ngIf="isInTune(); else adjust">🎯 Afinado</span>
    <ng-template #adjust>
      <span>🔧 Ajustar cuerda</span>
    </ng-template>
  </div>
</div>

<ng-template #noMic>
  <p>🚫 Micrófono no disponible. Revisa los permisos.</p>
</ng-template> -->
