<ion-header [translucent]="true">
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-button (click)="goToInstruments()">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
  </ion-button>
    <ion-button (click)="goToSubirPartitura()">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
  </ion-button>
</ion-buttons>
    <ion-title class="ion-text-center"> Partituras </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


<ng-container *ngIf="sesionActiva; else invitadoFooter">
  <app-footer-user></app-footer-user>
</ng-container>
<ng-template #invitadoFooter>
  <app-footer></app-footer>
</ng-template>
</ion-content>
