<ion-header translucent="true">
  <ion-toolbar>
    <!-- Botón tipo back -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-instrumentos" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title>Partituras</ion-title>

    <!-- Botón con icono "add" -->
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="goToSubirPartitura()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div id="lista">
  <ion-item [attr.data-id]="partitura.id" *ngFor="let partitura of partituras">
    <ion-label button (click)="verPartitura(partitura)">
        <h2>{{partitura.titulo}}</h2>
        <p>Instrumento: {{partitura.instrumento}}</p>
        <p>Género: {{partitura.genero_musical}}</p>
        <p>Likes: {{partitura.num_valoraciones}}</p>
      </ion-label>

      <ion-icon button (click)="gestionarFavorito($event, partitura)"
        name="star" 
        [style.color]="partitura.canciones_favoritas.includes(partitura.id) ? 'gold' : 'gray'" 
        size="large">
      </ion-icon>
    </ion-item>
</div>

<ion-content>
  <ng-container *ngIf="sesionActiva; else invitadoFooter">
    <app-footer-user></app-footer-user>
  </ng-container>
  <ng-template #invitadoFooter>
    <app-footer></app-footer>
  </ng-template>
</ion-content>
